<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Geotagging Attendance
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Current Location
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Latitude: {{ userLatitude }}</ion-label>
        <ion-label>Longitude: {{ userLongitude }}</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Attendance Location
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Latitude: {{ attendanceLatitude }}</ion-label>
        <ion-label>Longitude: {{ attendanceLongitude }}</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Distance
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Jarak: {{ distance }} meter</ion-label>
        <ion-label *ngIf="distance <= maxDistance">
          Anda sudah berada di tempat kehadiran.
        </ion-label>
        <ion-label *ngIf="distance > maxDistance">
          Anda belum berada di tempat kehadiran.
        </ion-label>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" (click)="getCurrentLocation()">
      Check Location
    </ion-button>
  </ion-content>
</ion-content>
